# This is an example configuration, for production grade configuration see the Keycloak documentation.
# See https://www.keycloak.org/server/configuration
# See https://www.keycloak.org/server/all-config
keycloakx:
  command:
    - "/opt/keycloak/bin/kc-with-setup.sh"
    - "--verbose"
    - "start"
    - "--http-enabled=true"
    - "--http-port=8080"
    - "--hostname-strict=false"
    - "--spi-events-listener-jboss-logging-success-level=info"
    - "--spi-events-listener-jboss-logging-error-level=warn"
    - "--optimized"

  image:
    # The custom image repository
    repository: ${docker.registry}${docker.image.name}
    # Overrides the Keycloak image tag whose default is the chart appVersion
    tag: ${project.version}

  http:
    relativePath: "/"

  dbchecker:
    enabled: true

  database:
    vendor: postgres
    hostname: postgresql
    port: 5432
    username: keycloak
    password: keycloak
    database: keycloak

  extraEnv: |
    - name: JAVA_OPTS_APPEND
      value: >-
        -Djava.awt.headless=true
        -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless

  extraEnvFrom: |
    - configMapRef:
        name: {{ .Release.Name }}-keycloak-defaults
    - configMapRef:
        name: keycloak-custom-config-vars
    - secretRef:
        name: keycloak-custom-secret-vars

  securityContext:
    # See https://github.com/keycloak/keycloak/issues/11286
    # readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL

