.navbar-pf {
    background: white;
    border-top-color: #004996;
    border-bottom: none;
    z-index: 100;
    box-shadow: 0px 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar-pf .navbar-header {
    border-color: white;
}

.navbar-pf .navbar-utility {
    top: -38px;
}

.navbar-pf .navbar-utility > li > a {
    color: black !important;
}

.kc-dropdown > a {
    display: flex;
    color: black !important;
}

.kc-dropdown > a::after {
    content: " ";
    width: 16px;
    height: 16px;
    display: inline-block;
    /* https://git.blivesta.com/flexicon/#modal-chevron-bottom */
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4=');
    background-size: contain;
    margin-top: -2px;
}

.navbar-title {
    background-image: url(../img/logo_inventage.png);
    background-size: contain;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .navbar-pf .navbar-utility > li > a:hover {
        background: transparent;
    }
}

